{% extends 'base.html.twig' %}

{% block title %}{{ corp_name }} | Contact{% endblock %}

{% block content %}
    <section class="container rounded p-5 mt-5">
        <div class="row g-4">
            <div class="col-md-6">
                <h2 class="headline mb-3">Why Choose Us?</h2>
                <p>We provide experienced, licensed drone operators that will make sure that get the best photo and
                    video of your project. Then we edit your footage with Adobe Premiere to make it look great and
                    give you the results that you want.</p>
            </div>
            <div class="col-md-6">
                <figure>
                    <div class="ratio ratio-16x9 shadow-sm rounded overflow-hidden">
                        <video controls preload="auto" class="w-100 h-100" style="object-fit: cover;">
                            <source src="/media/image/25" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <figcaption class="text-center text-muted mt-2 fst-italic">
                        Lauderdale By The Sea As Night Falls
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>

    <section class="text-center p-5 rounded">
        <h2 class="subhead">for inquiries:</h2>
        <p>{{ my_name }}<br>{{ address }}<br>{{ phone }}<br><a href="mailto:{{ email }}">{{ email }}</a></p>
    </section>
{% endblock %}
