{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
{#    {{ dump(_context) }}#}
    <h1>Gallery</h1>

    {% if images is empty %}
        <p>No images yet.</p>
    {% else %}
        <div class="gallery grid">
            {% for image in images %}
                <div>
                    {% if image.url %}
                        <img src="{{ image.url }}" alt="{{ image.name }}" style="max-width: 200px;">
                    {% else %}
                        <p>⚠️ Preview not available for {{ image.name }}</p>
                    {% endif %}
                    <p>{{ image.name }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
