{% extends 'base.html.twig' %}

{% block title %}{{ media.name }}{% endblock %}
{% block description %}{{ media.name }} - {{ media.description }}{% endblock %}

{% set playUrl = path('media_play', { id: media.id }) %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-5">{{ media.name }}</h1>

        <div class="text-center mb-4">
            {% if media.type == 'image' %}
                <img data-url="{{ media.id }}" style="visibility: hidden;" alt="{{ media.name }}" class="img-fluid rounded">
            {% elseif media.provider == 'youtube' %}
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/{{ media.externalId }}" allowfullscreen></iframe>
                </div>
            {% elseif media.provider == 'vimeo' %}
                <div class="ratio ratio-16x9">
                    <iframe src="https://player.vimeo.com/video/{{ media.externalId }}" allowfullscreen></iframe>
                </div>
            {% elseif media.type == 'video' %}
{#                <video controls preload="metadata" crossorigin="anonymous" style="max-width: 100%; height: auto;">#}
{#                    <source src="" data-url="{{ media.id }}" style="display: none;" type="video/mp4">#}
{#                </video>#}
                <video data-url="{{ media.id }}" controls preload="metadata"
                       style="visibility: hidden; max-height: 100%; max-width: 100%; object-fit: contain;"></video>
            {% endif %}
        </div>

        <p class="text-center">{{ media.description }}</p>
    </div>
{% endblock %}
